* {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-style: normal;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 40px;
}

h4 {
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

li {
  font-size: 20px;
}

ul,
ol {
  margin-left: 50px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 50px;
}

#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 12px;
  font-style: italic;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style-type: none;
}

.main-header {
  padding: 20px;
  background-color: #f7f7f7;
  margin-bottom: 60px;
}

.btn__like {
  /* display: inline-block; */
  font-size: xx-large;
  padding: 5px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.btn__like--link {
  text-decoration: none;
}

aside {
  background-color: #f7f7f7;
  border: 10px dotted #1098ad;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 0;
  width: 500px;
}
/* li:nth-child(odd) {
  color: rebeccapurple;
  text-decoration: line-through dotted red;
  text-decoration-style: ;
} */

nav a:link {
  color: orangered;
  display: inline-block;
  margin: 5px;
}

/* removing margin from last element */

nav a:link:last-child {
  margin-right: 0;
}

.post__img {
  width: 100%;
}
