h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-style: normal;
}
h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 12px;
  font-style: italic;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style-type: none;
}

.main-header {
  padding-bottom: 15px;
  background-color: #f7f7f7;
  border-bottom: 3px dotted rgba(68, 68, 68, 0.329);
}

aside {
  background-color: #f7f7f7;
  border: 10px dotted #1098ad;
}
/* li:nth-child(odd) {
  color: rebeccapurple;
  text-decoration: line-through dotted red;
  text-decoration-style: ;
} */

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: #ff4500;
  text-decoration: line-through dotted black;
}
a:active {
  font-size: 4rem;
  background-color: black;
  text-decoration: overline wavy red;
}
