body {
  background-color: #eeeeee;
  font-family: sans-serif;
  color: black;
  border: 3px solid black;
}
h2 {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
}
h4 {
  font-size: 2rem;
}

.shipping {
  text-transform: uppercase;
  color: rgb(100, 100, 100);
  font-size: 0.65rem;
  font-weight: bold;
}
a:link {
  color: black;
  text-decoration: none black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline solid black;
}

.product-detail {
  text-transform: uppercase;
}
li {
  list-style: square;
  line-height: 1.5;
}
img {
  width: 20%;
}

button {
  background-color: black;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 20%;
}
button:hover {
  background-color: white;
  color: black;
}
