* {
  margin: 0;
}
body {
  background-color: #eeeeee;
  font-family: sans-serif;
  color: black;
}
.container {
  border: 3px solid black;
  width: 600px;
  margin: 0 auto;
}
h2 {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 10px;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.shipping {
  text-transform: uppercase;
  color: rgb(100, 100, 100);
  font-size: 0.65rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.body__text {
  margin-bottom: 10px;
}
.body__link {
  margin-bottom: 10px;
}
a:link {
  color: black;
  text-decoration: underline solid black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline solid black;
}

.product-detail {
  text-transform: uppercase;
}
li {
  list-style: square;
  line-height: 1.5;
}
img {
  width: 20%;
  margin-bottom: 10px;
}

button {
  background-color: black;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
}
button:hover {
  background-color: white;
  color: black;
}
